n8n/workflows/eventsub_handler.json
{
    "name": "Twitch EventSub Handler",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "twitch/eventsub",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "eventsub-webhook",
            "name": "EventSub Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "is-challenge",
                            "leftValue": "={{ $json.body.challenge }}",
                            "rightValue": "",
                            "operator": {
                                "type": "string",
                                "operation": "notEmpty"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "is-challenge",
            "name": "Is Verification?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                470,
                300
            ]
        },
        {
            "parameters": {
                "respondWith": "text",
                "responseBody": "={{ $json.body.challenge }}",
                "options": {
                    "responseCode": 200,
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Content-Type",
                                "value": "text/plain"
                            }
                        ]
                    }
                }
            },
            "id": "respond-challenge",
            "name": "Respond Challenge",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                690,
                200
            ]
        },
        {
            "parameters": {
                "rules": {
                    "values": [
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict"
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.body.subscription.type }}",
                                        "rightValue": "channel.channel_points_custom_reward_redemption.add",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "channel_points"
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict"
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.body.subscription.type }}",
                                        "rightValue": "channel.follow",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "follow"
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict"
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.body.subscription.type }}",
                                        "rightValue": "channel.subscribe",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "subscribe"
                        }
                    ]
                },
                "options": {
                    "fallbackOutput": "extra"
                }
            },
            "id": "event-type-router",
            "name": "Event Type Router",
            "type": "n8n-nodes-base.switch",
            "typeVersion": 3,
            "position": [
                690,
                400
            ]
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "cp-msg",
                            "name": "response",
                            "value": "={{ '🎁 ' + $json.body.event.user_name + ' hat \"' + $json.body.event.reward.title + '\" eingelöst!' }}",
                            "type": "string"
                        },
                        {
                            "id": "cp-channel",
                            "name": "channel",
                            "value": "={{ $json.body.event.broadcaster_user_login }}",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "id": "channel-points-message",
            "name": "Channel Points Message",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                910,
                300
            ]
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "follow-msg",
                            "name": "response",
                            "value": "={{ '❤️ Willkommen @' + $json.body.event.user_name + '! Danke für den Follow!' }}",
                            "type": "string"
                        },
                        {
                            "id": "follow-channel",
                            "name": "channel",
                            "value": "={{ $json.body.event.broadcaster_user_login }}",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "id": "follow-message",
            "name": "Follow Message",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                910,
                450
            ]
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "sub-msg",
                            "name": "response",
                            "value": "={{ '🎉 PogChamp @' + $json.body.event.user_name + ' hat gesubbt! Willkommen im Club!' }}",
                            "type": "string"
                        },
                        {
                            "id": "sub-channel",
                            "name": "channel",
                            "value": "={{ $json.body.event.broadcaster_user_login }}",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "id": "subscribe-message",
            "name": "Subscribe Message",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                910,
                600
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://tbot.weeel.de/send",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "X-API-Key",
                            "value": "DEIN_API_KEY_HIER"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"channel\": \"{{ $json.channel }}\",\n  \"message\": \"{{ $json.response }}\"\n}",
                "options": {}
            },
            "id": "send-event-message",
            "name": "Send to Handler",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1130,
                400
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\"status\": \"ok\"}",
                "options": {
                    "responseCode": 200
                }
            },
            "id": "respond-ok",
            "name": "Respond OK",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                1350,
                400
            ]
        }
    ],
    "connections": {
        "EventSub Webhook": {
            "main": [
                [
                    {
                        "node": "Is Verification?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Is Verification?": {
            "main": [
                [
                    {
                        "node": "Respond Challenge",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Event Type Router",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Event Type Router": {
            "main": [
                [
                    {
                        "node": "Channel Points Message",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Follow Message",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Subscribe Message",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Respond OK",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Channel Points Message": {
            "main": [
                [
                    {
                        "node": "Send to Handler",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Follow Message": {
            "main": [
                [
                    {
                        "node": "Send to Handler",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Subscribe Message": {
            "main": [
                [
                    {
                        "node": "Send to Handler",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send to Handler": {
            "main": [
                [
                    {
                        "node": "Respond OK",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "tags": [
        "twitch",
        "eventsub",
        "channel-points"
    ],
    "triggerCount": 1
}